.header {
    display: flex;
    height: 10rem;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2rem;
}
.header-actions {
    display: flex;
    gap: 0.8rem;
}
@media (max-width: 768px) {
    .header-actions {
        display: none;
    }
}
.donation-options-buttons {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .donation-options-buttons {
        gap: 1rem;
    }
}
.navbar-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
    justify-content: center;
}
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}
.navbar-links :not(:last-child) {
    border-right: #D5D5D5 1px solid;
    padding-right: 1rem;
}
.navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4b4b4b;
    font-weight: 600;
    transition: color 0.2s ease;
    white-space: nowrap;
}
.navbar-link:hover {
    color: #FF5A00;
}
.site-logo {
    width: 7rem;
}
.hamburger-menu-icon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    color: #FF5A00;
}
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
}
@media (max-width: 768px) {
    .mobile-menu-button {
        display: flex;
        align-items: center;
    }
}
.go-back-icon {
    color: #FF5A00;
    width: 3rem;
    cursor: pointer;
    height: 3rem;
}
.header-logo-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.primary-button {
    display: flex;
    height: 4.5rem;
    min-width: 20rem;
    gap: 0.5rem;
    border: none;
    background-color: #FF5A00;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.primary-button:hover,
.primary-button:active {
    filter: brightness(1.3);
    transform: scale(1.02);
}
@media (max-width: 1024px) {
    .primary-button {
        height: 4rem;
    }
}
.hero-banner {
    margin: 0 auto;
    width: 90%;
    border-radius: 1.5rem;
    background: linear-gradient(to top right, #b33e0077, #b33e0077),
    url(assets/images/donate-hero/donate-hero-md.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    text-align: center;
}
.footer-call-to-action {
    min-height: 36rem;
    background: linear-gradient(120deg, #b33e00A0 0%, #b33e0060 100%),
    url(assets/images/donate-footer/donate-footer-md.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-top: 6rem;
    position: relative;
}
@media (max-width: 768px) {
    .footer-call-to-action {
        padding: 4rem 0;
        margin-top: 0;
    }
}
.secondary-button-white {
    display: flex;
    height: 4.5rem;
    min-width: 20rem;
    gap: 0.5rem;
    border: none;
    background-color: white;
    color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.secondary-button-white:hover,
.secondary-button-white:active {
    filter: brightness(1.3);
    transform: scale(1.02);
}
@media (max-width: 1024px) {
    .secondary-button-white {
        height: 4rem;
    }
}
.footer {
    width: 100%;
    background-color: #343434;
    padding: 2rem;
    color: #fff;
    text-align: center;
    color: #727272;
}
.page-title {
    margin: 0 auto;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}
@media (max-width: 640px) {
    .page-title {
        font-size: 2.4rem;
    }
}
.cta-title-white {
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 3rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
    text-align: center;
}
@media (max-width: 640px) {
    .cta-title-white {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}
.footer-text-small {
    font-size: 1.6rem;
    font-weight: 500;
}
.hero-description {
    font-size: 2rem;
}
@media (max-width: 640px) {
    .hero-description {
        font-size: 1.6rem;
    }
}
.footer-description {
    font-size: 1.6rem;
}
.section-title-underlined {
    font-size: 2.4rem;
    border-bottom: 2px solid currentColor;
    width: fit-content;
    margin-bottom: 0.5rem;
    text-align: left;
}
.pix-key-card {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #D5D5D5;
    width: 100%;
    overflow: hidden;
    max-width: 45rem;
}
.standard-card {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    border-radius: 1rem;
}
.hero-content-area {
    color: #fff;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
@media (max-width: 1024px) {
    .hero-content-area {
        max-width: 75%;
    }
}
@media (max-width: 768px) {
    .hero-content-area {
        max-width: 90%;
    }
}
.section-subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: #4b4b4b;
}
@media (max-width: 640px) {
    .section-subtitle {
        font-size: 1.6rem;
    }
}
.cta-subtitle-white {
    color: #fcfcfc;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
@media (max-width: 640px) {
    .cta-subtitle-white {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}
.pix-cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
    justify-content: center;
}
@media (max-width: 1024px) {
    .pix-cards-container {
        align-items: stretch;
    }
}
@media (max-width: 768px) {
    .pix-cards-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}
.full-width-section {
    margin: 6rem auto;
    min-height: 37.5rem;
}
@media (max-width: 640px) {
    .full-width-section {
        padding: 4rem 0;
        margin-bottom: 2rem;
        width: 100%;
    }
}
.main-content-padding {
    padding: 0 4rem;
}
.content-centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.banner-wrapper-padding {
    padding: 0 4rem;
}
@media (max-width: 768px) {
    .banner-wrapper-padding {
        padding: 0;
    }
}
.pix-card-header {
    font-size: 2rem;
    background-color: #ff7a2f;
    padding: 1rem;
    border-radius: 0.6rem;
    color: white;
    font-weight: bold;
}
@media (max-width: 640px) {
    .pix-card-header {
        font-size: 2rem;
    }
}
.pix-key-value {
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 1rem;
    word-break: break-word;
}
@media (max-width: 640px) {
    .pix-key-value {
        font-size: 1.8rem;
    }
}
.pix-key-holder-name {
    font-weight: 600;
    margin-bottom: 2rem;
    color: #4b4b4b;
}
@media (max-width: 640px) {
    .pix-key-holder-name {
        font-size: 1.6rem;
    }
}
.cta-card-glass {
    background: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
    max-width: 640px;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 640px) {
    .cta-card-glass {
        padding: 3rem;
        border-radius: 0;
    }
}
.cta-secondary-title {
    font-size: 2.4rem;
    color: #fff;
    margin-top: 2rem;
    font-weight: 600;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
@media (max-width: 640px) {
    .cta-secondary-title {
        font-size: 2rem;
        margin-top: 1rem;
    }
}