.header {
    display: flex;
    height: 10rem;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.header-actions {
    display: flex;
    gap: 0.8rem;
}

@media (max-width: 768px) {
    .header-actions {
        display: none;
    }
}

.navbar-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}

.navbar-links :not(:last-child) {
    border-right: #D5D5D5 1px solid;
    padding-right: 1rem;
}

.navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4b4b4b;
    font-weight: 600;
    transition: color 0.2s ease;
    white-space: nowrap;
}

.navbar-link:hover {
    color: #FF5A00;
}

.navbar-link-active {
    color: #FF5A00;
    font-weight: 700;
}

.site-logo {
    width: 7rem;
}

.hamburger-menu-icon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    color: #FF5A00;
}

.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-menu-button {
        display: flex;
        align-items: center;
    }
}

.go-back-icon {
    color: #FF5A00;
    width: 3rem;
    cursor: pointer;
    height: 3rem;
}

.header-logo-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.primary-button {
    display: flex;
    height: 4.5rem;
    min-width: 20rem;
    gap: 0.5rem;
    border: none;
    background-color: #FF5A00;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}

.primary-button:hover,
.primary-button:active {
    filter: brightness(1.3);
    transform: scale(1.02);
}

@media (max-width: 1024px) {
    .primary-button {
        height: 4rem;
    }
}

.hero-banner {
    margin: 0 auto;
    width: 90%;
    border-radius: 1.5rem;
    background: linear-gradient(to top right, #b33e0077, #b33e0077),
        url(assets/images/adopt-hero/adopt-hero-md.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    text-align: center;
}

.form-field-group {
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #343434;
    padding: 2rem;
    color: #fff;
    text-align: center;
    color: #727272;
}

.page-title {
    margin: 0 auto;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 640px) {
    .page-title {
        font-size: 2.4rem;
    }
}

.footer-text-small {
    font-size: 1.6rem;
    font-weight: 500;
}

.hero-description {
    font-size: 2rem;
}

@media (max-width: 640px) {
    .hero-description {
        font-size: 1.6rem;
    }
}

.footer-description {
    font-size: 1.6rem;
}

.section-title-underlined {
    font-size: 2.4rem;
    border-bottom: 2px solid currentColor;
    width: fit-content;
    margin-bottom: 0.5rem;
    text-align: left;
}

.content-card-large {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

@media (max-width: 768px) {
    .content-card-large {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .content-card-large {
        width: 100%;
    }
}

.form-card {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    border-radius: 1rem;
}

.form-submit-button {
    margin: auto;
}

.hero-content-area {
    color: #fff;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 1024px) {
    .hero-content-area {
        max-width: 75%;
    }
}

@media (max-width: 768px) {
    .hero-content-area {
        max-width: 90%;
    }
}

.form-input {
    border-radius: 0.6rem;
    border: none;
    background: #eee;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.6rem;
}

.form-input:user-invalid {
    border: 2px solid #ff2f2f;
}

.form-input:focus {
    outline: none;
    border: 2px solid #FF5A00;
}

.form-label {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

@media (max-width: 640px) {
    .form-label {
        font-size: 1.6rem;
    }
}

.label-text-bold {
    font-weight: 600;
}

.page-section-full-width {
    margin: 6rem auto;
    min-height: 37.5rem;
    width: 100%;
}

.main-content-padding {
    padding: 0 4rem;
}

.main-content-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-fields-wrapper {
    align-self: start;
    width: 100%;
    margin-bottom: 2rem;
}

.form-fields-wrapper> :first-child {
    margin-top: 1rem;
}

.form-fields-wrapper> :not(:last-child) {
    margin-bottom: 1rem;
}

.adoption-form {
    width: 100%;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-adopt-card.primary-button {
    width: 200px;
    margin-left: auto;
}

.standard-card {
    min-width: 300px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.go-back-button {
    text-decoration: none;
    color: #FF5A00;
    font-weight: 600;
    font-size: 16px;
}

.animal-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}

.animal-tag {
    background-color: #eee;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
    margin-right: 0.5rem;
}

.animal-info {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.btn-adopt-card {
    margin-top: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.confirmation-box {
    background-color: #f0fff0;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.confirmation-box h3 {
    color: #28a745;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.confirmation-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.confirmation-details img {
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #28a745;
}

.confirmation-details p {
    font-size: 1.8rem;
    margin: 5px 0;
    font-weight: 500;
}

.confirmation-subtitle {
    font-size: 2rem;
}
.card-description {
    font-size: 14px
}
.card-title {
    font-size: 16px;
}
.standard-card {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 48px;
}
.card-body{ 
    padding: 16px;
}