.header {
    display: flex;
    height: 10rem;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2rem;
}
.header-actions {
    display: flex;
    gap: 0.8rem;
}
@media (max-width: 768px) {
    .header-actions {
        display: none;
    }
}
.navbar-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
    justify-content: center;
}
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}
.navbar-links :not(:last-child) {
    border-right: #D5D5D5 1px solid;
    padding-right: 1rem;
}
.navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4b4b4b;
    font-weight: 600;
    transition: color 0.2s ease;
    white-space: nowrap;
}
.navbar-link:hover {
    color: #FF5A00;
}
.navbar-link-active {
    color: #FF5A00;
    font-weight: 700;
}
.site-logo {
    width: 7rem;
}
.hamburger-menu-icon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    color: #FF5A00;
}
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
}
@media (max-width: 768px) {
    .mobile-menu-button {
        display: flex;
        align-items: center;
    }
}
.go-back-icon {
    color: #FF5A00;
    width: 3rem;
    cursor: pointer;
    height: 3rem;
}
.header-logo-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.primary-button {
    display: flex;
    height: 4.5rem;
    min-width: 20rem;
    gap: 0.5rem;
    border: none;
    background-color: #FF5A00;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.primary-button:hover,
.primary-button:active {
    filter: brightness(1.3);
    transform: scale(1.02);
}
@media (max-width: 1024px) {
    .primary-button {
        height: 4rem;
    }
}
.hero-banner-contact {
    height: 82.5vh;
    width: 100%;
    background: linear-gradient(to top right, #b33e0066, #b33e0066),
    url(assets/images/contact-us-hero/contact-us-hero-md.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 4rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}
.footer {
    width: 100%;
    background-color: #343434;
    padding: 2rem;
    color: #fff;
    text-align: center;
    color: #727272;
}
.hero-title {
    font-size: 4.8rem;
    line-height: 1;
}
@media (max-width: 1024px) {
    .hero-title {
        font-size: 4rem;
    }
}
@media (max-width: 640px) {
    .hero-title {
        font-size: 3.2rem;
    }
}
.card-title {
    font-size: 2rem;
}
.footer-text-small {
    font-size: 1.6rem;
    font-weight: 500;
}
.hero-description {
    font-size: 2rem;
}
@media (max-width: 640px) {
    .hero-description {
        font-size: 1.6rem;
    }
}
.card-description {
    font-size: 1.6rem;
    text-align: justify;
}
@media (max-width: 1024px) {
    .card-description {
        font-size: 1.6rem;
    }
}
.footer-description {
    font-size: 1.6rem;
}
.hero-content-area-left {
    color: #fff;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
}
@media (max-width: 1024px) {
    .hero-content-area-left {
        max-width: 75%;
    }
}
@media (max-width: 640px) {
    .hero-content-area-left {
        max-width: 100%;
    }
}
.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.standard-card {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    border-radius: 1rem;
}
.card-button {
    align-self: flex-end;
    margin-top: auto;
}
.main-content-padding {
    padding: 0 4rem;
}
.cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 6rem 0;
    justify-content: center;
}
.contact-card-max-width {
    max-width: 37.5rem;
}
@media (max-width: 1024px) {
    .contact-card-max-width {
        max-width: 30rem;
    }
}
@media (max-width: 640px) {
    .contact-card-max-width {
        max-width: 35rem;
    }
}
.card-icon {
    width: 8rem;
    height: 8rem;
}