.header {
    display: flex;
    height: 10rem;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2rem;
}
.header-actions {
    display: flex;
    gap: 0.8rem;
}
@media (max-width: 768px) {
    .header-actions {
        display: none;
    }
}
.navbar-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
    justify-content: center;
}
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}
.navbar-links :not(:last-child) {
    border-right: #D5D5D5 1px solid;
    padding-right: 1rem;
}
.navbar-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4b4b4b;
    font-weight: 600;
    transition: color 0.2s ease;
    white-space: nowrap;
}
.navbar-link:hover {
    color: #FF5A00;
}
.site-logo {
    width: 7rem;
}
.hamburger-menu-icon {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    color: #FF5A00;
}
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
}
@media (max-width: 768px) {
    .mobile-menu-button {
        display: flex;
        align-items: center;
    }
}
.go-back-icon {
    color: #FF5A00;
    width: 3rem;
    cursor: pointer;
    height: 3rem;
}
.header-logo-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.primary-button {
    display: flex;
    height: 4.5rem;
    min-width: 20rem;
    gap: 0.5rem;
    border: none;
    background-color: #FF5A00;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.primary-button:hover,
.primary-button:active {
    filter: brightness(1.3);
    transform: scale(1.02);
}
@media (max-width: 1024px) {
    .primary-button {
        height: 4rem;
    }
}
.hero-banner-main {
    height: 82.5vh;
    width: 100%;
    background: linear-gradient(to top right, #b33e0066, #b33e0066),
    url(assets/images/landing-hero/landing-hero-md.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 4rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}
.cta-banner-contained {
    margin: 0 auto;
    width: 90%;
    border-radius: 1.5rem;
    background: linear-gradient(to top right, #b33e0077, #b33e0077),
    url(assets/images/landing-contained-banner/landing-contained-banner-md.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    text-align: center;
}
.secondary-button-white {
    display: flex;
    height: 4.5rem;
    min-width: 20rem;
    gap: 0.5rem;
    border: none;
    background-color: white;
    color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.secondary-button-white:hover,
.secondary-button-white:active {
    filter: brightness(1.3);
    transform: scale(1.02);
}
@media (max-width: 1024px) {
    .secondary-button-white {
        height: 4rem;
    }
}
.footer {
    width: 100%;
    background-color: #343434;
    padding: 2rem;
    color: #fff;
    text-align: center;
    color: #727272;
}
.hero-title {
    font-size: 4.8rem;
    line-height: 1;
}
@media (max-width: 1024px) {
    .hero-title {
        font-size: 4rem;
    }
}
@media (max-width: 640px) {
    .hero-title {
        font-size: 3.2rem;
    }
}
.card-title {
    font-size: 2rem;
}
.cta-title-centered {
    margin: 0 auto;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}
@media (max-width: 640px) {
    .cta-title-centered {
        font-size: 2.4rem;
    }
}
.footer-text-small {
    font-size: 1.6rem;
    font-weight: 500;
}
.hero-description {
    font-size: 2rem;
}
@media (max-width: 640px) {
    .hero-description {
        font-size: 1.6rem;
    }
}
.footer-description {
    font-size: 1.6rem;
}
.card-description-long {
    font-size: 1.6rem;
    text-align: justify;
}
@media (max-width: 1024px) {
    .card-description-long {
        font-size: 1.6rem;
    }
}
.hero-content-area-left {
    color: #fff;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
}
@media (max-width: 1024px) {
    .hero-content-area-left {
        max-width: 75%;
    }
}
@media (max-width: 640px) {
    .hero-content-area-left {
        max-width: 100%;
    }
}
.section-title-underlined {
    font-size: 2.4rem;
    border-bottom: 2px solid currentColor;
    width: fit-content;
    margin-bottom: 0.5rem;
    text-align: left;
}
.section-title-underlined-centered {
    display: block;
    margin: 0 auto;
}
.icon-card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.standard-card {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    border-radius: 1rem;
}
.card-button {
    align-self: flex-end;
    margin-top: auto;
}
.cta-content-area-center {
    color: #fff;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
@media (max-width: 1024px) {
    .cta-content-area-center {
        max-width: 75%;
    }
}
@media (max-width: 768px) {
    .cta-content-area-center {
        max-width: 90%;
    }
}
.story-section {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1024px) {
    .story-section {
        gap: 4rem;
    }
}
.help-section {
    padding: 0 4rem;
    padding-top: 4rem;
}
.story-item-text-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
}
@media (max-width: 1024px) {
    .story-item-text-right {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}
.story-item-text-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex-direction: row-reverse;
}
@media (max-width: 1024px) {
    .story-item-text-left {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}
.story-image {
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    height: 30rem;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .story-image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 25rem;
        object-fit: contain;
    }
}
.story-text-content {
    width: 50%;
}
@media (max-width: 1024px) {
    .story-text-content {
        width: 100%;
    }
}
.help-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    justify-content: center;
}
.icon-card-with-button {
    max-width: 37.5rem;
}
@media (max-width: 1024px) {
    .icon-card-with-button {
        max-width: 30rem;
    }
}
@media (max-width: 640px) {
    .icon-card-with-button {
        max-width: 35rem;
    }
}
.cta-banner-spacing {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.main-content-wrapper {
    margin: 0 auto;
    max-width: 130rem;
}
@media (max-width: 1024px) {
    .main-content-wrapper {
        width: 100%;
    }
}
.card-icon {
    width: 8rem;
    height: 8rem;
}